#
# Configuration for GitHub-based CI, based on the stock GitHub Rust config.
#
name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  check-style:
    runs-on: ubuntu-latest
    steps:
    # actions/checkout@v2
    - uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e
    - uses: actions-rs/toolchain@88dc2356392166efad76775c878094f4e83ff746
      with:
        toolchain: stable
        default: false
        components: rustfmt
    - name: Check style
      run: cargo fmt -- --check

  check:
    runs-on: ubuntu-latest
    steps:
    # actions/checkout@v2
    - uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e
    - name: Cargo check
      run: cargo check --no-default-features

  build-and-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest ]
    steps:
    # actions/checkout@v2
    - uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e
    - name: Build
      run: cargo build --tests --verbose
    - name: Run tests
      run: cargo test --verbose
